# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore database files
*.db
*.sqlite
*.sqlite3

# Ignore environment variables
.env
.env.local

# Ignore logs
*.log

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.temp

# Ignore virtual environment
backend/venv/
venv/

**/testsprite_tests/
**/load-tests/

# Dependencies
node_modules/

QCMcalc/